{% extends "base.html" %}
{% block title %} Cargos {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="card">
        <div class="card-header">
            <p>
                <button class="btn btn-custom" data-toggle="modal" data-target="#crearCargoModal">Crear Nuevo Cargo</button> 
            </p>
        </div>
        <!-- Modal para crear cargo -->
        <div class="modal fade" id="crearCargoModal" tabindex="-1" role="dialog" aria-labelledby="crearCargoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearCargoModalLabel">Crear Cargo </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'crearCargo' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="txtNombre">Nombre del Cargo:</label>
                                <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre Del Cargo" required maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="departamento">Departamento:</label>
                                <select id="departamento" name="departamento" class="form-control" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtEstado">Estado:</label>
                                <select id="txtEstado" name="txtEstado" class="form-control" required>
                                    <option value="" selected disabled>Selecciona un Estado</option>
                                    <option value="True">Activo</option>
                                    <option value="False">Inactivo</option>
                                </select>
                            </div>
                            <button type="submit" class="btn-exportar-excel">Actualizar Cargo</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-exportar-pdf" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbdata" class="table">
                    <thead>
                        <tr>
                            <th>
                                Cargo
                            </th>
                            <th>
                                Departamento
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Fecha Registro
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cargo in cargos %}
                    <tr>
                        <td>{{ cargo.nombre_cargo }}</td>
                        <td>{{ cargo.departamento.nom_departamento}}</td>
                        <td>
                            {% if cargo.estado %}
                            Activo
                            {% else %}
                            Inactivo
                            {% endif %}
                        </td>
                        <td>{{ cargo.fecha_registro }}</td>
                        <td>
                            <a href="{% url 'edicionCargo' cargo.id %}" class="btn-exportar-excel">Editar</a> |
                            <a href="{% url 'detalleCargo' cargo.id %}" class="btn-exportar-print">Detalle</a> 
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tbdata').DataTable({
            "language":{
                url:"https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            dom:"Bfrtip",
            buttons:[
                {
                    extend: "excelHtml5",
                    text:"Exportar Excel",
                    filename:"Reporte Del Los Cargos ",
                    title:"",
                    exportOptions:{
                        columns:[0,1,2,3]
                    },
                    className:"btn-exportar-excel"
                },
                {
                    extend: "pdfHtml5",
                    text:"Exportar PDF",
                    filename:"Reporte Del Los Cargos",
                    title:"",
                    exportOptions:{
                        columns:[0,1,2,3]
                    },
                    className:"btn-exportar-pdf"
                },
                {
                    extend: "print",
                    title:"",
                    exportOptions:{
                        columns:[0,1,2,3]
                    },
                    className:"btn-exportar-print"
                },
                "pageLength"
            ]
        });
    });
</script>

<script>

const listarDepartamento = async () => {
    try {
        const response = await fetch("./departamento");
        const data = await response.json();
        if (data.message === "success") {
            let opciones = "<option selected disabled>Selecciona un Departamento</option>";
            data.departamentos.forEach((departamento) => {
                opciones += `<option value='${departamento.id}'>${departamento.nom_departamento}</option>`;
            });
            document.getElementById("departamento").innerHTML = opciones;
        } else {
            alert("Departamentos No Encontrados...");
        }
    } catch (error) {
        console.log(error);
    }
};

const cargaInicial = async () => {
    await listarDepartamento();
};

window.addEventListener("load", async () => {
    await cargaInicial();
});


</script>

{% endblock %}
