{% extends "base.html" %}
{% block title %} Editar Cargo {% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="card">
        <h1 class="card-header">Actualizar Cargo</h1>
        <form method="post" action="{% url 'editarCargo' cargo.id %}" class="card-body">
            {% csrf_token %}
            <div class="form-group">
                <label for="txtNombre">Nombre del Cargo:</label>
                <input type="text" id="txtNombre" value="{{ cargo.nombre_cargo }}" name="txtNombre" class="form-control" required maxlength="50">
            </div>

            <div class="form-group">
                <label for="departamento">Departamento:</label>
                <select id="departamento" name="departamento" class="form-control" required>
                    {% for depto in departamentos %}
                        <option value="{{ depto.id }}" {% if depto.id == cargo.departamento.id %}selected{% endif %}>
                            {{ depto.nom_departamento }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="txtEstado">Estado:</label>
                <select id="txtEstado" name="txtEstado" class="form-control" required>
                    <option value="True" {% if cargo.estado %}selected{% endif %}>Activo</option>
                    <option value="False" {% if not cargo.estado %}selected{% endif %}>Inactivo</option>
                </select>
            </div>

            <button type="submit" class="btn-exportar-excel">Actualizar Cargo</button>
            <div class="text-right">
                <a href="{% url 'departamento_list' %}" class="btn-exportar-pdf">Cerrar</a>
            </div>
        </form>
    </div>
</div>

<style>
    /* Agrega estos estilos a tu archivo CSS personalizado */

/* Estilo para el contenedor de la tarjeta */
.card {
    border: 1px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Estilo para el encabezado de la tarjeta */
.card-header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}


/* Estilo para los campos de entrada de texto */
.form-control {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}



.btn-exportar-excel:hover {
    background-color: #0056b3;
}

/* Estilo para el botón "Volver a la lista de departamentos" */
.btn.btn-primary {
    display: block;
    padding: 10px 20px;
    background-color: #28a745; /* Puedes cambiar el color a tu preferencia */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-top: 10px;
}

.btn.btn-primary:hover {
    background-color: #1e7e34; /* Cambia el color al hacer hover si lo deseas */
}
/* Estilo para el botón "Editar Departamento" */
.btn-exportar-excel {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 10px; /* Agregamos un margen derecho para separar los botones */
}

.btn-exportar-excel:hover {
    background-color: #0056b3;
}

/* Estilo para el botón "Volver a la lista de departamentos" */
.btn.btn-primary {
    display: block;
    padding: 10px 20px;
    background-color: #28a745; /* Puedes cambiar el color a tu preferencia */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn.btn-primary:hover {
    background-color: #1e7e34; /* Cambia el color al hacer hover si lo deseas */
}
.text-right {
    text-align: right;
}


</style>

{% endblock %}
