{% extends "base.html" %}
{% block title %} Contactos {% endblock %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Jhonatan Urrego Nieves</b></h2>
                                        <p class="text-muted text-sm"><b>Specialization: </b> Backend </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-building"></i></span>Address: Diagonal 15
                                                #45B-131 Barranquilla</li>
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-phone"></i></span> Phone #: 3013199716</li>
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-envelope"></i></span>email
                                                @:jurregonieves@gmail.com</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="{% static 'assets/dist/img/jhonatha.jpeg' %}" alt="user-avatar"
                                            class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="#" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> View Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>David Andres Mendoza Hernandez</b></h2>
                                        <p class="text-muted text-sm"><b>Specialization: </b> fullstack|Base De
                                            Datos|Versatil</p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-building"></i></span> Address: Calle 28
                                                #29A-28 Soledad Atlantico</li>
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-phone"></i></span> Phone #: 3003712280</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-envelope"></i></span>
                                                email @:davidmen17@gmail.com </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="{% static 'assets/dist/img/imgDavid.jpeg' %}" alt="user-avatar"
                                            class="img-circle img-fluid">
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="#" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> View Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Juan David Serrano </b></h2>
                                        <p class="text-muted text-sm"><b>Specialization: </b> Frontend </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-building"></i></span> Address: Kra 12H </li>
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-phone"></i></span> Phone #: 3018161956</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-envelope"></i></span>
                                                email @:judasema17@gmail.com </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="{% static 'assets/dist/img/serrano.jpeg' %}" alt="user-avatar"
                                            class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="#" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> View Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Anthony Jesus Osorio Bolaños</b></h2>
                                        <p class="text-muted text-sm"><b>Specialization: </b> Frontend </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-building"></i></span> Address:Calle 49
                                                #3E-16 Barranquilla Atlantico </li>
                                            <li class="small"><span class="fa-li"><i
                                                        class="fas fa-lg fa-phone"></i></span> Phone #:3245074419</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-envelope"></i></span>
                                                email @:anthojesus2005@gmail.com </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="{% static 'assets/dist/img/antoni.jpeg' %}" alt="user-avatar"
                                            class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="#" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> View Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.card -->

    </section>
    <!-- /.content -->
</div>


{% endblock %}