{% extends "base.html" %}
{% block title %} Departamentos {% endblock %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <div class="card">
        <div class="card-header">
            <p>
                <a class="btn btn-dark" asp-action="Create">Crear Nuevo Departamento</a>
            </p>
        </div>
    
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbdata" class="table">
                    <thead>
                      <tr>
                        <th>
                          Departamento
                        </th>
                        <th>
                          Estado
                        </th>
                        <th>
                          Fecha Registro
                        </th>
                        <th>Acciones</th> <!-- Agregado el encabezado de Acciones -->
                      </tr>
                  </thead>
                  <tbody>
                    {% for departamento in departamentos %}
                    <tr>
                        <td>{{ departamento.nom_departamento }}</td>
                        <td>
                          {% if departamento.estado %}
                            Activo
                          {% else %}
                            Inactivo
                          {% endif %}
                        </td>
                        <td>{{ departamento.fecha_registro }}</td>
                        <td>
                          <a href="Edit" class="btn-exportar-excel">Editar</a> |
                          <a href="Details" class="btn-exportar-print">Detalle</a> |
                          <a href="Delete" class="btn-exportar-pdf"> Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tbdata').DataTable({
            "language":{
                url:"https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            dom:"Bfrtip",
            buttons:[
                {
                    extend: "excelHtml5",
                    text:"Exportar Excel",
                    filename:"Reporte Del Los Departamentos ",
                    title:"",
                    exportOptions:{
                        columns:[0,1,2]
                    },
                    className:"btn-exportar-excel"
                },
                {
                    extend: "pdfHtml5",
                    text:"Exportar PDF",
                    filename:"Reporte Del Los Departamentos",
                    title:"",
                    exportOptions:{
                        columns:[0,1,2]
                    },
                    className:"btn-exportar-pdf"
                },
                {
                    extend: "print",
                    title:"",
                    exportOptions:{
                        columns:[0,1,2]
                    },
                    className:"btn-exportar-print"

                },
                "pageLength"
            ]

        });
    });
</script>

{% endblock %}
