{% extends "base.html" %}
{% block title %} Empleados {% endblock %}

{% block content %}


<!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <div class="card">
        <div class="card-header">
            <p>
                <a class="btn btn-dark" asp-action="Create">Crear Nuevo Empleado</a>
            </p>
        </div>
    
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbdata" class="table">
                    <thead>
                        <tr>
                            <th id="columna-departamento">
                                Departamento
                            </th>
                            <th id="columna-cargo">
                                Cargo
                            </th>
                            <th id="columna-numero-documento">
                                N.Documento
                            </th>
                            <th id="columna-nombres">
                                Nombres
                            </th>
                            <th id="columna-apellido-paterno">
                                Apellido Paterno
                            </th>
                            <th id="columna-apellido-materno">
                                Apellido Materno
                            </th>
                            <th id="columna-telefono">
                                Telefono
                            </th>
                            <th id="columna-correo">
                                Correo
                            </th>
                            <th id="columna-estado">
                                Estado
                            </th>
                            <th id="columna-fecha-registro">
                                fecha_Registro
                            </th>
                            <th id="columna-acciones">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for empleado in empleados %}
                      <tr>
                          <td>{{ empleado.departamento.nom_departamento }}</td>
                          <td>{{ empleado.cargo.nombre_cargo}}</td>
                          <td>{{ empleado.num_documento }}</td>
                          <td>{{ empleado.nombres }}</td>
                          <td>{{ empleado.apellido1 }}</td>
                          <td>{{ empleado.apellido2 }}</td>
                          <td>{{ empleado.telefono }}</td>
                          <td>{{ empleado.correo }}</td>
                          <td>
                            {% if empleado.estado %}
                              Activo
                            {% else %}
                              Inactivo
                            {% endif %}
                          </td>
                          <td>{{ empleado.fecha_Registro }}</td>
                          <td>
                            <a asp-action="Edit" class="btn-exportar-excel" asp-route-id="@cargo.Id">Editar</a> |
                            <a asp-action="Details" class="btn-exportar-print" asp-route-id="@cargo.Id">Detalle</a> |
                            <a asp-action="Delete" class="btn-exportar-pdf" asp-route-id="@cargo.Id"> Borrar</a>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  <!-- /.content-wrapper -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function () {
    $('#tbdata').DataTable({
        "language": {
            url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
        },
        "columnDefs": [
            {
                "targets": [0], // Departamento
                "visible": true
            },
            {
                "targets": [1], // Cargo
                "visible": true
            },
            {
                "targets": [2], // N.Documento
                "visible": true
            },
            {
                "targets": [3], // Nombres
                "visible": true
            },
            {
                "targets": [8], // Estado
                "visible": true
            },
            {
                "targets": [10], // Acciones
                "visible": true
            },
            {
                "targets": [4, 5, 6, 7, 9], // Columnas que no quieres mostrar inicialmente
                "visible": false
            }
        ],
        dom: "Bfrtip",
        buttons: [
            {
                extend: "excelHtml5",
                text: "Exportar Excel",
                filename: "Reporte Del Los Empleados",
                title: "",
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                },
                className: "btn-exportar-excel"
            },
            {
                extend: "pdfHtml5",
                text: "Exportar PDF",
                filename: "Reporte Del Los Empleados",
                title: "",
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                },
                className: "btn-exportar-pdf",
            },
            {
                extend: "print",
                title: "",
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                },
                className: "btn-exportar-print"
            },
            "pageLength"
        ]
    });
});
</script>

{% endblock %}
